[Unit]
Description=Installation of pre-installed widgets
ConditionPathExists=!%h/.applications/install_done

[Service]
Type=idle
ExecStart=/usr/bin/install_widgets.sh
TimeoutSec=0

[Install]
WantedBy=default.target
