[Unit]
Description=Installation of pre-installed widgets
After=xwalk.service
ConditionPathExists=!%h/.applications/install_done

[Service]
Type=oneshot
ExecStart=/usr/bin/install_widgets.sh

[Install]
WantedBy=default.target
